atomicwrites==1.3.0
attrs==19.1.0
Click==7.0
css-class-names==0.0.1
css-classes==1.1
css-explore==0.0.8
Flask==1.0.2
gunicorn==19.9.0
itsdangerous==0.24
javascript==2015.32.59
Jinja2==2.10.1
jquery.javascript==1.0.0
MarkupSafe==1.0
more-itertools==7.0.0
mysql-connector==2.1.7
mysql-connector-python==8.0.12
nodeenv==1.3.3
passlib==1.7.1
pluggy==0.9.0
protobuf==3.6.1
py==1.8.0
pytest==4.4.1
python-gettext==4.0
pytz==2019.1
six==1.11.0
transaction==2.4.0
Werkzeug==0.14.1
zope.browser==2.3
zope.browserpage==4.3.0
zope.component==4.5
zope.configuration==4.3.1
zope.contentprovider==4.2.1
zope.contenttype==4.4
zope.deferredimport==4.3
zope.deprecation==4.4.0
zope.event==4.4
zope.exceptions==4.3
zope.hookable==4.2.0
zope.i18n==4.6.2
zope.i18nmessageid==4.3.1
zope.interface==4.6.0
zope.location==4.2
zope.pagetemplate==4.4.1
zope.proxy==4.3.1
zope.publisher==5.0.1
zope.schema==4.9.3
zope.security==4.3.1
zope.tal==4.4
zope.tales==5.0
zope.traversing==4.3.1
zope.viewlet==4.2.1
