
<link rel="shortcut icon" href="../favicon.ico">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/foundation.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='googleNexus/css/normalize.css')}}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='googleNexus/css/demo.css')}}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='googleNexus/css/component.css')}}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}"/>

