{% extends "index.html" %}
{% block content %}

    <header class="img-header" id="t_header">
        <form action="{{url_for('especie.pesquisa_completa')}}" method="get">
         <input placeholder="Procurar" type="search" name="procura" class="gn-search procura-2" style="width: 40%; bor der: 2px;
                    color: black; background-color: white;">
                    <input type="submit" style="height: 40px; background-color: #0099ff; color: fff;" class="gn-icon gn-icon-search button-save-edit" value="Buscar"><span>Procurar</span></input>
            </form>
        <p class="h1-header">MuseuOnline Website CB <span>

        </span>
        </p>
    </header>

    <div class="div-content-slider">
    <div class="content-slider" style="heigth: auto;">
        {% if fotos != None%}
            {% for (idImagem, idEspecie) in fotos %}
                    <div class="gallery div-img-1">
                        <a target="_self" href="{{url_for('especie.especie_completa', idespecie=idEspecie)}}">
                            <img class="img-1" src="{{url_for('static', filename='img/{}/{}.png'.format(idEspecie,idImagem))}}" alt="Especie">
                        </a>
                        {% for (id, especie, genero, habitat, coordenadas, notas, detalhes, nomecomum, codigo, validacao, datacriacao) in especies %}
                            {% if idEspecie == id %}
                                <div class="desc">{{especie }} | {{ nomecomum}}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
            {% endfor %}
        {% endif %}
    </div>
    </div>
    <div style="display: block; float: clear; height: auto;">

    </div>

{% endblock %}

