{% extends "index.html" %}
{% block content %}
<style>
    .items-nav-admin li{
        display: inline-block;
        padding: 20px;
    }
</style>
<div style=" margin: 0 auto; margin-top:10%; width: 860px; text-align: center;">
    <h1 style="color: black;"> Administrador MuseuOnline </h1>
    <ul class="items-nav-admin">
        <li>
            <a id="especie" class="nav-item nav-link" href="{{url_for('especie.especies')}}" role="button" onclick="menu_destacar('especie')">Especie</a>
        </li>
        <li>
            <a id="genero" class="nav-item nav-link" href="{{url_for('genero.generos')}}" role="button" onclick="menu_destacar('genero')">Genero</a>
        </li>
        <li>
            <a id="familia" class="nav-item nav-link" href="{{url_for('familia.familias')}}" role="button" onclick="menu_destacar('familia')">Familia</a>
        </li>
        <li>
            <a id="ordem" class="nav-item nav-link" href="{{url_for('ordem.ordems')}}" role="button" onclick="menu_destacar('ordem')">Ordem</a>
        </li>
        <li>
            <a id="classe" class="nav-item nav-link" href="{{url_for('classe.classes')}}" role="button" onclick="menu_destacar('classe')">Classe</a>
        </li>
        <li>
            <a id="filo" class="nav-item nav-link" href="{{url_for('filo.filos')}}" role="button" onclick="menu_destacar('filo')">Filo</a>
        </li>

        <li>
            <a id="reino" class="nav-item nav-link" href="{{url_for('reino.reinos')}}" role="button" onclick="menu_destacar('reino')">Reino</a>
        </li>

        <li class="nav-item">
            <a id="utilizadores" class="nav-link nav-item" href="{{url_for('utilizador.utilizadores')}}">Utilizadores</a>
        </li>
    </ul>
</div>
{% endblock %}