/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 7, 2018, 8:21:44 PM
    Author     : 1001
*/
.link_a_2{
    color: black;
    padding: 8px;
}
.link_a_3{
    color: red;
    padding: 8px;
}
.neldo_centro_0{
    justify-content: center;
    align-items: center;
    display: flex;
}

#neldo_form_login_0{
    width: 600px;
    height: 400px;
    
    box-shadow: 0px 0px 2px black;
}
.div_1{
    margin: 0 auto;
    width: 650px;
    height: 300px;

    box-shadow: 1px 1px 2px #A2A2A2;
    border-radius: 15px;
    background-color: #D1D0D0;

    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: row;

}
#form_1 input{
    width: 480px;
    height: 50px;

    padding-left: 8px;
    font-weight: 300;
    font-size: 18px;
    
    color: #390000;
    
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 10px;
    border-bottom-color: white;
    
    
}
.form-input-0{
    width: 98%;
    height: 50px;

    padding-left: 8px;
    font-weight: 300;
    font-size: 18px;

    color: #390000;

    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 10px;
    border-bottom-color: black;

    background-color: #D1D1D1;


}
.form-input-0:focus{
    transition-duration: .3s;
    border-bottom: #009900 solid 2px;
    border-bottom-color: #009900;

}
.form-input-error{
    box-shadow: 0px 0px 3px red;
}

#form_1 input:focus{
    transition-duration: .3s;
    border-bottom: #009900 solid 2px;
    border-bottom-color: #009900;
    box-shadow: 1px 1px 2px #00cc33;
}
#form_1 a{
    color: black;
    border-radius: 15px 10px 20px 25px;
}
#form_1 a:hover{
    transition-duration:.4s;
    color:  #009688;

    border-radius: 15px;

    height: 25px;
    width: 80px;
    
    font-weight: bold;
    font-size: 16px;
}

#label_1{
    font-size: 25px;
    font-family: "Arial",serif;
    color: white;
    transition-duration: 1s;
    letter-spacing: 6px;
    background-color: #D1D1D1;
}
.button-1{

    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: green;

    height: 34px;
    min-width: 110px;

    border: 0px;
    border-radius: 10px;
    cursor: pointer;

}
.button-1:hover{ /* hover comando para dar efeito com o mouse*/

	transition-duration: .3s;
	color: black;
}
#posicaox1{
    margin-left: 30px;
}


.botao-azul{
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: blue;

    height: 34px;
    min-width: 110px;

    border: 0px;
    border-radius: 10px;
    cursor: pointer;
}
.botao-azul:hover{
    transition-duration: .3s;
	color: black;

}
.my_link_style_1{
    color: #000000;
    padding-left: 20px;
    text-decoration: none;
    
    font-size: 18px;
    font-weight: 400;
    
    min-width: 100px;
    height: 30px;
}
.my_link_style_1:hover{
    color: #00cc33;
    transition-duration: .4s;
}
.my_link_style_2{
    color: #000000;
    padding-left: 20px;
    text-decoration: none;
    
    font-size: 18px;
    font-weight: 400;
    
    min-width: 100px;
    height: 30px;
}
.my_link_style_2:hover{
    color: red;
    transition-duration: .2s;
}
.select_1{
    min-width: 40px;
    letter-spacing: 4px;

}
.edit-delete{
    position: absolute;
    right: 0px;
    top: 20px;
}
.login-error{
    color: red;
}
.text{
    font-size: 18px;
}
