/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 10, 2018, 5:12:33 PM
    Author     : 1001
*/
.window-modal-style{
    /*display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content-style{
    width: 800px;
    min-height: 220px;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;

}
.modal-content-1{
    width: 500px;
    min-height: 550px;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;

}
.modal-delete-style{
    width: 400px;
    min-height: 250px;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 1px 1px 2px red;


}
.text-inner{
    text-align: center;
    font-size: 20px;
}
.text-inner a{
    margin-left: 15px;
}
.delete{
    background-color: #ffffff;
    box-shadow: 1px 1px 2px #A2A2A2;
}
.register{
    background-color: #ffffff;
    box-shadow: 1px 1px 2px #0099ff;
}

.close{
    background-color: #0099ff;
    height: 30px;
}
.confirm{
    background-color: #cc0033;
    height: 22px; 
    margin-left: 20px;
}
.add-data{
    background-color: #0099ff;
    height: 30px;
    font-weight: 400;
    font-size: 18px; 
    color: white;
}
.close-add{
    font-weight: 400;
    font-size: 18px;
    color: #390000;
    
    height: 30px;
    margin-left: 30px;
}
.close-1{
    position: absolute;
    right: 5px;
    top: 0px;
    background-color: #CCC;
    border-radius: 20px;
    border: 0;
    
    width: 25px;
    height: 25px;
    cursor: pointer;
    
}


#modal-head{
    display: none;
}

.text_p_modal_1{
    text-align: left;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
}
.h2_modal{
    color: #ff0033;
}

.modal-button{
    border-radius: 8px;
    border: 0px;
    
    cursor: pointer;
}

