{% extends "index.html" %}
{% block content %}

<div id="modal-head-sign" class="window-modal-style">

		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="">
					<span class="login100-form-title-1">
						Autenticar
					</span>
				</div>

				<form class="login100-form " action="{{url_for('utilizador.login_user', admin=False)}}" method="post">
					<span id="message_error" style="color: red;">{{ message }}</span>
                    <br>
                    <div class="wrap-input100 m-b-26" >
						<span class="label-input100">Email</span>
						<input id="email" class="input100" type="email" name="email" placeholder="Enter email" onclick="link_add()" required>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 m-b-18">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="password" placeholder="Enter password" required>
						<span class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-b-30">
						<div class="contact100-form-checkbox">
							<a href="{{url_for('home')}}" class="txt1">Cancelar</a>
						</div>

						<div>
							{{email}}
							<a id="recovery_email" href="#" class="txt1">
								Esquece password?
							</a>
							<span> | </span>
							<a role="button" href="{{url_for('utilizador.register_user', admin=False)}}" class="txt1 email">
                                Criar conta
                            </a>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<input type="submit" id="button_1" class="login-button" value="Confirmar">
					</div>
				</form>
			</div>
		</div>
</div>
<script type=text/javascript>
    $(function() {

        $('#recovery_email').bind('click', function() {
            email =  $('#email').val();
            $("#recovery_email").attr("href", "{{url_for('utilizador.recuperar_password', email=email)}}"+email);


        });
        $('#email').bind('click', function() {
            message = $('#message_error');
            message.text("");
        });
    });


</script>
{% endblock %}